
.fixed-tab {
  position: fixed;
  top: 0px;
}

.Content-menu-box {
  height: 52px;
  display: flex;
  justify-content: center;
}

.Content-menu-nav {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  z-index: 5;
}

.Cotent-menu {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}

.Cotent-menu li {
  width: calc(100% / 3);

}

.Cotent-menu li button {
  box-sizing: border-box;
  border: 0;
  width: 100%;
  min-height: 52px;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
}

.off {
  border: 0;
  color: #333;
}

.on {
  color: #457bdf;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #5f8cdd;
}
