.login-container {
  width: 100vw;
  min-width: 320px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-section {
  display: block;
  box-sizing: border-box;
  padding: 0 40px;
  width: clamp(320px, 100%, 400px);
  height: 500px;
  background-color: white;
  border-radius: 10px;
  font-size: 16px;
  border: 0;
}

.login-title {
  width: 100%;
  margin: 40px 0;
  text-align: center;
  font-weight: 600;
  font-size: 1.5em;
}

#login-sub-text {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 500;
}

.login-button {
  box-sizing: border-box;
  margin: 0 auto 30px;
  padding: 10px 15px;
  width: 100%;
  height: 50px;
  border: 0;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease;
  color: black;

  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }

  img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  span {
    box-sizing: border-box;
    height: 30px;
    padding: 5px;
    line-height: 23px;
  }
}

.Facebook {
  color: white;
  background-color: #1877f2;
}

.Kakao {
  color: #000000 90%;
  background-color: #fee500;

  img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
}

.Naver {
  background-color: #03c75a;
  padding-left: 10px;

  img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }

  span {
    color: white;
  }
}

.error-message {
  display: block;
  margin: calc(100vh / 2 - 30px) auto;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 320px) {

}

@media screen and (max-height: 500px) {
  .login-container {
    height: 500px;
  }
}
