#report-modal {
  position: fixed;
  box-sizing: border-box;
  padding: 20px 10px 10px;
  top: calc((100vh - 300px) / 2);
  left: calc((100vw - 300px) / 2);
  width: 300px;
  height: 300px;
  background-color: rgb(249, 249, 249);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  text-align: left;
  z-index: 11;
  display: flex;
  flex-direction: column;
}

#report-modal label {
  padding: 10px;
  line-height: 30px;
  display: flex;
  align-items: center;
}

#report-modal input {
  width: 20px;
  margin-right: 5px;
}

#report-modal span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#report-button-box {
  position: absolute;
  right: 10px;
  bottom: 25px;
  text-align: right;
}

#report-button-box button {
  width: 40px;
  height: 30px;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  margin: 7px 7px 0;
  background-color: rgb(227, 227, 227);
}

#report-button-box button:hover {
  cursor: pointer;
  background-color: aliceblue;
}

@media (max-width: 340px) {
  #report-modal {
    left: calc((100vw - 80%) / 2);
    width: 80%;
  }
}

@media (max-width: 180px) {
  #report-button-box  {
    width: 80%;
    bottom: 15px;
    right: 10px;
  }
}