.Cotent-deatail {
  box-sizing: border-box;
  width: 100%;
  margin: 30px auto 0;
  overflow-y: auto;
}

.Content-info-title {
  display: block;
  font-size: 16px;
  padding-bottom: 30px;
}

.Content-table {
  font-size: 16px;
}

.Content-table th {
  padding: 10px 10px 10px 0;
}

.Content-table td {
  box-sizing: border-box;
  padding: 10px;
  word-break: break-all;
}

.Cotent-overview {
  grid-column-end: span 3;
  padding: 30px 0;
  line-height: 25px;
}

.Cotent-overview strong {
  display: block;
  margin-bottom: 20px;
}

.Cotent-overview p {
  letter-spacing: 0.5px;
}

