.Cotent-text-box {
  grid-column-end: span 3;
  padding: 30px 0;
  line-height: 25px;
  position: relative;
  font-size: 15px;
}

.overview-title {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.o-label {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.o-label::after {
  content: '';
  display: block;
  width: 2px;
  margin-top: 5px;
  height: 16px;
  background-color: #ddd;
}

.o-title {
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overview {
  position: relative;
  display: flex;
  margin-bottom: 40px;
}

.overview strong {
  display: flex;
  min-width: 100px;
}

.overview p {
  letter-spacing: 0.5px;
  padding-left: 10px;
}

.o-p p:nth-child(1) {
  padding-bottom: 15px;
}

.o-p p strong {
  display: inline;
}


.more-button {
  position: absolute;
  right: 10px;
  border: 0;
  background-color: transparent;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
  color: #3f75da;
}

.space {
  padding: 10px 0;
}

.map {
  display: flex;
}

.map span {
  padding-left: 10px;
}

#map {
  padding-top: 10px;
}

.Content-table {
  padding-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
}

.Content-table li {
  display: flex;
  align-items: center;
  padding: 10px 15px 10px 0;
}

.label {
  min-width: 100px;
  line-height: 100%;
  font-size: 0.96em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label::after {
  content: "";
  display: block;
  width: 2px;
  height: 14px;
  margin-top: 1px;
  background-color: #cfcfcf;
}

.Content-table span {
  padding-left: 10px;
  font-size: 0.9em;
  word-break: break-all;
}

.Content-get-error {
  font-size: 1.5em;
  text-align: center;
  height: 100px;
  line-height: 100px;
}

@media (max-width: 1023.5px) {
  .Content-table {
    grid-template-columns: 1fr;
  }
  .Content-table strong {
    width: 100px;
  }

  .Content-table span {
    width: auto;
  }
}

@media (max-width: 425px) {
  .Content-table {
    font-size: 14px;
  }
}
