.Content-info {
  padding: 10px 30px;
}

.Cotent-deatail {
  box-sizing: border-box;
  width: 100%;
  margin: 30px auto 0;
  overflow-y: auto;
}

.Content-info-title {
  padding: 0 0 30px 40px;
}

.Content-table {
  width: 100%;
  /* border-collapse: collapse; */
  font-size: 16px;
}

.Content-table th {
  width: 80x;
  padding: 10px;
  /* border: 0.5px solid #dfdede; */
  /* background-color: rgb(244, 244, 244); */
}

.Content-table td {
  box-sizing: border-box;
  padding: 10px;
  /* border: 0.5px solid #dfdede; */
  word-break: break-all;
}

.Cotent-overview {
  grid-column-end: span 3;
  padding: 30px 40px;
  line-height: 25px;
}

.Cotent-overview strong {
  display: block;
  margin-bottom: 20px;
}

.Cotent-overview p {
  letter-spacing: 0.5px;
}

@media (max-width: 768px) {
  .Cotent-overview {
    padding: 30px 10px;
  }

  .Content-info {
    padding: 10px 10px;
  }

  .Content-info-title {
    padding-left: 10px;
  }
}
