
.fixed-tab {
  position: fixed;
  top: 0px;
}

.Content-menu-nav {
  width: 100%;
  z-index: 10;
}

.Cotent-category {
  width: 95%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}

.Cotent-category li {
  width: calc(100% / 3);
}

.Cotent-category li button {
  box-sizing: border-box;
  width: 100%;
  min-height: 52px;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
}

.Cotent-category li button:hover {
  cursor: pointer;
}

.off {
  border: 0;
}

.on {
  color: #5f8cdd;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #5f8cdd;
}

@media (min-width: 1600px) {
  .Content-menu-nav {
    width: 1380px;
  }

  .Cotent-category {
    width: 100%;
  }
}