.get-data-error-box {
  width: 100%;
  text-align: center;
  padding: calc(22vh - 30px) 0;
  grid-column-end: span 4;
}

.get-data-error-box p {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

@media (max-width: 650px) {
  .get-data-error-box {
    grid-column-end: span 2;
  }
}


@media (max-width: 425px) {
  .get-data-error-box {
    grid-column-end: span 1;
  }
}
