.resize-animation-stopper {
  transition: none !important;
}

.submenu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 71px;
  z-index: 3;
  background: rgb(248, 248, 248);
}

.submenu-wrapper {
  width: 100%;
  height: 100%;
}

.submenu__title {
  display: none;
}

.submenu__list {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.submenu__list li {
  box-sizing: border-box;
  padding: 0 5px;
  width: calc(100% / 4);
  height: 100%;
  cursor: pointer;
  border-top: 1px solid rgb(219, 219, 219);
}

.submenu__list li button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: bold;
  color: rgb(136, 136, 136);
  word-break: keep-all;
}

.check {
  border-top-color: #333 !important;
}

.sub-check {
  color: #333 !important;
}

.submenu__list li button span {
  &:nth-of-type(1) {
    padding-bottom: 10px;
    font-size: 20px;
    font-variation-settings:
      "FILL" 0,
      "wght" 400,
      "GRAD" 100,
      "opsz" 24;
  }

  &:nth-of-type(2) {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .submenu {
    position: relative;
    width: 380px;
    height: calc(100vh - 80px);
    font-size: 16px;
  }

  .submenu-wrapper {
    position: fixed;
    width: 380px;
    height: auto;
    top: 140px;
    left: 0;
  }

  .submenu__title {
    display: block;
    padding: 0 0 50px 24px;
  }

  .submenu__title span {
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    font-style: normal;

    &:nth-of-type(1) {
      font-size: 2em;
      line-height: 45px;
    }

    &:nth-of-type(2) {
      font-size: 1.4em;
      color: rgb(114, 114, 114);
    }
  }

  .submenu__list {
    display: block;
    box-sizing: border-box;
    padding-left: 24px;
  }

  .submenu__list li {
    position: relative;
    width: 100%;
    border: unset;
    cursor: pointer;
    padding: 0;
  }

  .submenu__list li::before {
    content: "";
    position: absolute;
    left: -7px;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    background-color: black;
  }

  .submenu__list li:not(.check) {
    &:before {
      content: unset;
    }
  }

  .submenu__list li button {
    flex-direction: row;
    justify-content: left;
    align-items: center;
    font-size: 1em;
    height: 60px;
    line-height: 50px;
  }

  .submenu__list li button span {
    font-size: 1.4em !important;
    line-height: 50px !important;

    &:nth-of-type(1) {
      padding: 0 10px 0;
    }

    &:nth-of-type(2) {
      /* font-family: "Do Hyeon", sans-serif;
      font-weight: 400;
      font-style: normal; */
    }
  }

  /*        */

  .picked-category {
    display: block;
    padding: 0 0 60px 24px;
  }

  .picked-category span {
    font-size: 30px;
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    font-style: normal;

    &:nth-of-type(1) {
      display: inline-block;
      padding-bottom: 5px;
    }
    &:nth-of-type(2) {
      display: none;
    }
    &:nth-of-type(3) {
      font-size: 20px;
      color: rgb(120, 120, 120);
      transition: all 0.3s ease-in;
    }
  }

  .picked-category br {
    display: block;
  }

  .menu ul {
    padding: 0;
  }

  .menu ul li {
    position: relative;
    padding: 10px 24px;
  }

  .menu ul li:hover {
    background: rgb(228, 228, 228);
  }

  .menu ul li::before {
    content: "";
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    background-color: black;
  }

  .menu ul li button {
    height: 40px;
    column-gap: 8px;
    color: gray;
  }

  .menu ul li button span:not(:nth-of-type(1)) {
    font-size: 20px;
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .sub-check span {
    color: #333;
  }

  .menu ul li button span:nth-of-type(1) {
    font-size: 20px;
    font-variation-settings:
      "FILL" 0,
      "wght" 400,
      "GRAD" 100,
      "opsz" 24;
  }
}
