.Cotent-text-box {
  grid-column-end: span 3;
  padding-top: 70px;
  line-height: 25px;
  position: relative;
  font-size: 15px;
}

.overview {
  position: relative;
}

.info {
  margin-bottom: 25px;
  display: flex;

  strong {
    display: flex;
    min-width: 100px;
  }

  p {
    letter-spacing: 0.5px;
    padding-left: 10px;
    white-space: pre-wrap;

    string {
      display: inline;
    }
  }
}

.infoname {
  width: 100px;
  display: flex;
  justify-content: space-between;

  &::after {
    content: "";
    display: block;
    width: 2px;
    margin-top: 5px;
    height: 16px;
    background-color: #ddd;
  }
}

.more-button {
  position: absolute;
  right: 10px;
  border: 0;
  background-color: transparent;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
  color: #3f75da;
}

.space {
  padding: 10px 0;
}

.map {
  display: flex;
  margin-bottom: 25px;

  span {
    padding-left: 10px;
  }
}

.Content-table {
  padding-top: 25px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
}

.Content-table li {
  display: flex;
  align-items: center;
  padding: 10px 15px 10px 0;
}

.label {
  min-width: 100px;
  line-height: 100%;
  font-size: 0.96em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label::after {
  content: "";
  display: block;
  width: 2px;
  height: 14px;
  margin-top: 1px;
  background-color: #cfcfcf;
}

.Content-table span {
  padding-left: 10px;
  font-size: 0.9em;
  word-break: break-all;
  white-space: pre-line;

  a {
    color: #333;

    &:hover {
      color: #3f75da;
    }
  }
}

.Content-get-error {
  font-size: 1.5em;
  text-align: center;
  height: 100px;
  line-height: 100px;
}

@media (max-width: 1023.5px) {
  .Content-table {
    grid-template-columns: 1fr;
  }
  .Content-table strong {
    width: 100px;
  }

  .Content-table span {
    width: auto;
  }
}

@media (max-width: 425px) {
  .Content-table {
    font-size: 14px;
  }
}
