.Content-box {
  font-family: 'Noto Sans KR', sans-serif;
}

.Content {
  width: 940px;
  padding: 0 20px;
  margin: 0 auto;
}

.Content-title {
  padding: 40px 0;
  width: 100%;
  text-align: center;
  font-size: 30px;
  word-break: keep-all;
}

.Content-detatil-area {
  position: relative;
  padding: 0 10px;
}

@media (max-width: 1023.9px) {
  .Content-box {
    padding-top: 50px;
  }

  .Content {
    box-sizing: border-box;
    width: 100%;
    padding: 0 60px;
  }

  .Content-title {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .Content {
    padding: 0 30px;
  }
}

@media (max-width: 425px) {
  .Content {
    padding: 0 15px;
  }
}

@media (max-width: 320px) {
  .Content-box {
    width: 320px;
  }
}
