.Cotent-review {
  box-sizing: border-box;
  width: 100%;
  padding: 5%;
  margin: 0 auto;
  text-align: center;
}

.Cotent-feeling {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Cotent-feeling div {
  margin: 0 10px;
}

.user-input-box {
  margin: 20px auto;
}

.user-input-box input {
  box-sizing: border-box;
  width: 70%;
  min-height: 35px;
  padding: 10px;
  border: 0.5px solid black;
}

.user-input-box button {
  margin-left: 20px;
  width: 40px;
  height: 40px;
  background-color: orange;
  color: white;
  border: 0;
  border-radius: 5px;
}

.user-review-area {
  margin: 0 auto;
  width: 80%;
}

.user-review-box {
  box-sizing: border-box;
  padding: 10px 5px;
}

.name-and-option {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-text {
  padding-left: 10px;
  text-align: left;
}
