.main-box {
  position: relative;
  padding-top: 130px;
  min-height: calc(100vh - 230px);
  background-color: #f0f1fa;
  z-index: 5;
}

/* .main-page {
  margin-top: 50px;
  padding-top: 20px;
  min-height: 100vh;
  z-index: 4;
  font-size: 24px;
}

@media (min-width: 1024px) {
  .main-page {
    margin-top: 130px;
    padding-top: 0;
  }
} */
