@keyframes text-effect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes arrow-effect {
  0% {
    transform: translateX(-20%);
  }

  50% {
    transform: translateX(30%);
  }

  100% {
    transform: translateX(-20%);
  }
}

@keyframes button-effect {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

.main-page {
  position: relative;
  height: 100vh;
  background-color: white;
  z-index: 4;
  text-align: center;
  font-size: 32px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: brightness(85%);
}

.spring {
  background-image: url("../../../public/images/pexels-pixabay-46164.jpg");
}

.summer {
  background-image: url("../../../public/images/pexels-asad-photo-maldives-457881.jpg");
}

.autumn {
  background-image: url("../../../public/images/pexels-김-대정-2734512.jpg");
}

.winter {
  background-image: url("../../../public/images/pexels-matheus-bertelli-799459.jpg");
}

.main-page-title {
  box-sizing: border-box;
  position: absolute;
  top: 35%;
  width: 100%;
  padding: 0 5%;
  text-align: center;
}

.main-page-title h2 {
  margin-bottom: 10px;
  width: 100%;
  color: white;
  font-size: 1.2em;
  animation: text-effect 2s linear;
}

.start-button-box {
  position: absolute;
  top: calc(60%);
  left: calc(50% - 75px);
  width: 150px;
  height: 40px;
}

.start-button-box button {
  width: 100%;
  height: 100%;
  font-size: 0.6em;
  font-weight: 500;
  color: white;
  border: 0;
  border-radius: 5px;
  background: linear-gradient(
    45deg,
    rgba(255, 151, 0, 1) 0%,
    rgb(255, 102, 0) 100%
  );
  animation: button-effect 2s ease-out;
  transition: all 0.3s linear;
}

.start-button-box button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media (max-height: 768px) {
  .main-page {
    height: 768px;
  }
}

@media (max-width: 768px) {
  .main-page {
    font-size: 24px;
  }

  .start-button-box {
    font-size: 1.2em;
  }
}

@media (max-width: 425px) {
  .main-page {
    font-size: 20px;
  }

  .start-button-box {
    padding: 0 30%;
    width: 40%;
    left: 0;
    font-size: 1.4em;
  }
}

