.Theme-Slide {
  display: flex;

  div {
    max-height: 400px;
    margin-right: 20px;
  }

  div img {
    width: clamp(200px, 62.5vw, 300px);
    height: clamp(250px, 78.125vw, 400px);
    object-fit: cover;
    float: center;
  }
}

.Theme-Slide-Index-Bar {
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 0px;
  margin: 13px 0 0;
  height: 7px;
  justify-content: center;

  div {
    height: 7px;
    border-radius: 3.5px;
    margin-right: 10px;
    background-color: rgb(47, 47, 47);
    transition: all .2s ease-in-out;
  }
}

