.Theme-Slide-Box {
  height: clamp(270px, 84.375vw, 420px);
  position: relative;
  overflow: hidden;
}

.Theme-Slide {
  display: flex;

  div {
    max-height: 400px;
    margin-right: 20px;

    &:nth-child(5) {
      margin: 0;
    }
  }

  div img {
    width: clamp(200px, 62.5vw, 300px);
    height: clamp(250px, 78.125vw, 400px);
    object-fit: cover;
    float: center;
  }
}

.Theme-Slide-Index-Bar {
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 0px;
  margin: 13px 0 0;
  height: 7px;
  justify-content: center;
}

.Theme-Slide-Index-Bar .bar {
  position: absolute;
  left: calc(50% - 60px);
  width: 0;
  height: 100%;
  background-color: rgb(47, 47, 47);
  transition: all 0.2s ease-in-out;
  border-radius: 3.5px;
}


@media (min-width: 2963px) {
  .Theme-Slide-Index-Bar {
    display: none;
  }
}