:root {
  --font-color: rgb(246, 246, 246);
}

@keyframes slideloading {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.slide-active {
  animation-name: slideloading;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.slide-not-active {
  width: 0;
}

.top-slide-container {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 720px;
  max-height: 970px;
  font-size: 16px;
}

.top-visual {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.source {
  position: absolute;
  bottom: 60px;
  left: 5%;
  z-index: 14;
  color: var(--font-color);
  font-size: clamp(14px, 4.375vw, 16px);
}

.top-slide-page {
  position: absolute;
  right: 5%;
  bottom: 60px;
  color: var(--font-color);
  font-size: clamp(14px, 4.375vw, 16px);
}

.top-slide-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(75%);
  }
}

.top-text-box {
  position: absolute;
  bottom: 33%;
  left: 5%;
  width: 90%;
  color: white;
  font-weight: 700;
  text-align: left;

  h2 {
    font-size: clamp(26px, 6vw, 52px);
    margin-bottom: clamp(10px, 2vw, 18px);
  }

  p {
    font-size: clamp(16px, 3vw, 32px);
    margin-bottom: clamp(10px, 2vw, 22px);
  }

  a {
    display: inline-block;
    font-size: clamp(14px, 3vw, 18px);
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    color: var(--font-color);
    
    &:after {
      content: '';
      display: block;
      height: 1px;
      background: white;
    }
  }
}

.slide-time-box {
  position: absolute;
  top: 70%;
  left: 5%;
  width: 90%;
  height: 80px;
  z-index: 5;

  .time-bar {
    height: 5px;
    width: 0;
    margin-top: 20px;
    border-radius: 2px;
    background-color: white;
  }

  .time-button {
    position: relative;
    width: 150px;
    height: 30px;
    margin: 15px auto 0;
    text-align: center;

    button {
      width: 30px;
      height: 100%;
      margin: 0 5px;
      font-size: 20px;
      line-height: 30px;
    }

    button:hover {
      border-radius: 50%;

      background-color: rgba(150, 150, 150, 0.581);
    }
  }
}

@media (max-width: 450px) {
  .top-slide-page {
    bottom: 10px;
  }
}

@media (min-width: 1334px) {
  .top-text-box {
    left: calc(50% - 600px);
    width: 1200px;
  }

  .source {
    left: calc(50% - 600px);
  }

  .top-slide-page {
    right: calc(50% - 600px);
  }

  .slide-time-box {
    left: calc(50% - 600px);
    width: 1200px;
  }
}

/* @media (max-width: 1023.9px) {
  .top-text-box {
    button {
      font-size: clamp(16px, 4vw, 38px);
    }
  }
} */
