@keyframes form-ani {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes option-effect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.magnifying {
  width: 30px;
  height: 30px;
  border: 0;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  outline: none;
  z-index: 101;

  span {
    line-height: 30px;
    width: 100%;
    height: 100%;
    font-size: clamp(24px, 5vw, 28px);
    font-variation-settings:
      "FILL" 0,
      "wght" 600,
      "GRAD" 200,
      "opsz" 24;
  }
}

.mag-on {
  color: #333;
}

.search-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 110;
}

.search-box {
  width: clamp(270px, 84.375vw, 600px);
  height: 150px;
  margin: 20vh auto 0;
  animation-name: form-ani;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  border-radius: 10px;
}

.search-box form {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input-box {
  position: relative;
  width: 100%;
  height: clamp(40px, 12.5vw, 50px);
}

.search-input-box input {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: transparent !important;
  border: 0;
  border-bottom: 1.5px solid white;
  color: white;
  font-size: clamp(16px, 5vw, 24px);
  padding: 5px 40px 5px 5px;

  &::placeholder {
    color: white;
    font-size: clamp(16px, 5vw, 24px);
  }

  &:focus {
    outline: none;
  }

  &:-internal-autofill-selected {
    background-color: transparent !important;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    transition:
      background-color 5000s ease-in-out 0s,
      color 5000s ease-in-out 0s,
      fontSize 5000s ease-in-out 0s;
  }
}

.search-input-box button {
  position: absolute;
  height: 100%;
  width: 40px;
  top: 0%;
  right: 0;
  cursor: pointer;
}

.search-input-box button span {
  line-height: clamp(40px, 12.5vw, 50px);
  font-size: clamp(26px, 8vw, 32px);
  font-variation-settings:
    "FILL" 0,
    "wght" 600,
    "GRAD" 200,
    "opsz" 24;

  &:hover {
    color: orange;
  }
}

.search-box form #cancel {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0px;
  right: 0px;
  cursor: pointer;

  &:hover {
    color: orange;
  }

  span {
    line-height: 40px;
    font-size: clamp(26px, 8vw, 35px);
    font-variation-settings:
      "FILL" 0,
      "wght" 450,
      "GRAD" 100,
      "opsz" 24;

    &:hover {
      color: orange;
    }
  }
}
