.Theme-Slide-Box {
  height: clamp(270px, 84.375vw, 420px);
  position: relative;
  overflow: hidden;
}

.Theme-Slide {
  display: flex;

  div {
    max-height: 400px;
    margin-right: 20px;

    &:nth-child(5) {
      margin: 0;
    }
  }

  div img {
    width: clamp(200px, 62.5vw, 300px);
    height: clamp(250px, 78.125vw, 400px);
    object-fit: cover;
    float: center;
  }
}

.Theme-Slide-Index-Bar {
  width: 0;
  margin: 10px 0 0;
  height: 3px;
  transition: width .2s linear;
  background-color: rgb(24, 24, 24);
}

@media (min-width: 2963px) {
  .Theme-Slide-Index-Bar {
    display: none;
  }
}
