.top-button-box {
  position: fixed;
  bottom: 70px;
  right: calc(50vw - 660px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(56, 56, 56, 0.8);
  z-index: 50;
  text-align: center;
  box-shadow: 1px 1px 15px 3px #00000080;
  border: 0;
  color: white;

  &:hover {
    cursor: pointer;
    background-color: rgba(2, 99, 255, 0.8);
  }
}

@media (max-width: 1440px) {
  .top-button-box {
    right: 30px;
  }
}

@media (max-width: 880px) {
  .top-button-box {
    right: 40px;
  }
}
