.main-box-content {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px 30px 100px;
  position: relative;
}

.AllView-grid-box {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 25px;
  row-gap: 25px;
  font-family: "Noto Sans KR", sans-serif;
}

.not-found-category {
  grid-column-end: span 4;
  text-align: center;
  height: 200px;
}

.not-found-category p {
  padding-top: 100px;
  font-size: 1.2em;
  font-weight: 600;
}

.card-item {
  position: relative;
  box-sizing: border-box;
  border-radius: 7px;
  min-width: 150px;
  text-align: center;
  transition: all 0.3s ease;
}

.card-item:hover {
  cursor: pointer;
  box-shadow: 2px 2px 15px rgba(144, 144, 144, 0.648);
}

.festival-image-box {
  width: auto;
  height: 300px;
}

.tour-image-box {
  width: auto;
  height: 220px;
}

.cal-date {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 0 5px;
  height: 30px;
  width: auto;
  color: white;
  border-radius: 5px;
  font-size: 0.8em;
  line-height: 30px;
}

.ing {
  background-color: orange;
}

.end {
  background-color: #494ff3;
}

.aft {
  background-color: rgb(38, 223, 38);
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 5px;
}

.card-text {
  position: relative;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;

  min-height: 75px;
  text-align: left;
}

.area {
  padding: 0 0 0 0;
  color: #3c3c3c;
  font-size: 14px;
  font-weight: 500;
}

.card-text h4 {
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 5px 5px 0;
  font-size: 17px;
  color: #333;
  font-weight: 500;
}

.card-date {
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  padding: 35px 0 10px;
  color: #505050;
}

.card-tag {
  padding-top: 33px;
  color: #3c3c3c;
  font-size: 14px;
  font-weight: 500;
}

.not-found-data {
  margin: 50px auto 0;
  width: 300px;
  grid-column-end: span 5;
}

.not-found-data p {
  font-size: 20px;
  text-align: center;
}

@media (min-width: 1440px) {
  .main-box-content {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .main-box-content {
    width: 1000px;
  }
}

@media (max-width: 1024px) {
  .main-box-content {
    max-width: 850px;
  }

  .AllView-grid-box {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 650px) and (max-width: 670px) {
  .main-box-content {
    padding: 20px 20px 100px;
  }

  .AllView-grid-box {
    column-gap: 10px;
  }

  .card-text h3 {
    padding: 10px 10px 0;
  }
}

@media (max-width: 650px) {
  .AllView-grid-box {
    grid-template-columns: 1fr 1fr;
  }
  .AllView-grid-box {
    column-gap: 25px;
  }
}

@media (min-width: 425px) and (max-width: 500px) {
  .main-box-content {
    padding: 20px 25px 100px;
  }

  .AllView-grid-box {
    column-gap: 15px;
  }
}

@media (max-width: 425px) {
  .main-box-content {
    padding: 20px 25px 100px;
  }

  .AllView-grid-box {
    grid-template-columns: 1fr;
  }

  .not-found-category {
    font-size: 14px;
  }
}
