.main-box-content {
  box-sizing: border-box;
  width: 100%;
  padding: 0 30px 100px;
}

.AllView-grid-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 25px;
  row-gap: 25px;
}

.festival-item {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 7px;
  text-align: center;
  border: 0.1px solid rgb(176, 176, 176);
  transition: all 0.3s ease;
}

.festival-item:hover {
  cursor: pointer;
  box-shadow: 2px 2px 15px rgba(144, 144, 144, 0.648);
}

.image-box {
  height: 200px;
  overflow: hidden;
  border-radius: 7px 7px 0 0;
}

.festival-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.festival-text {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.festival-text h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 16px;
  padding-top: 10px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(81, 81, 226);
}

.festival-date {
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding: 10px;
}

.cal-date {
  margin: 0 auto 5px;
  padding: 5px 5px;
  width: 80px;
  background-color: orange;
  color: white;
  border-radius: 5px;
  font-size: 14px;
}

@media (min-width: 1500px) {
  .main-box-content {
    box-sizing: border-box;
    max-width: 1500px;
    margin: 0 auto;
  }
}

@media (max-width: 1200px) {
  .AllView-grid-box {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 910px) {
  .AllView-grid-box {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .main-box-content {
    padding-top: 30px;
  }

  .AllView-grid-box {
    grid-template-columns: 100%;
  }
}

@media (max-width: 162px) {
  .festival-date {
    width: 100%;
  }

  .cal-date {
    margin: 0;
    padding: 10px 0;
    width: 100%;
  }
}
