.Login-Form {
  margin-top: calc((100vh - 500px) / 2);
  margin-left: calc((100vw - 400px) / 2);
  width: 400px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  font-size: 16px;
  border: 0;
}

.title {
  width: 100%;
  margin: 40px 0;
  text-align: center;
  font-weight: 600;
  font-size: 1.5em;
}

#p-tag {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 500;
}

.Social-Login {
  box-sizing: border-box;
  margin: 0 auto 30px;
  padding: 10px 15px;
  width: 80%;
  height: 50px;
  border: 0;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }

  img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  span {
    box-sizing: border-box;
    height: 30px;
    padding: 5px;
    line-height: 23px;
  }
}

.Facebook {
  color: white;
  background-color: #1877f2;
}

.Kakao {
  color: #000000 85%;
  background-color: #fee500;
  
  img {
    width: 25px;
    height: 25px;
    margin-right: 15px;
  }
}

.Naver {
  background-color: #03c75a;
  padding-left: 10px;

  img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }

  span {
    color: white;
  }
}

.error-message {
  display: block;
  margin: calc(100vh / 2 - 30px) auto;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}



@media screen and (max-width: 400px) {
  .Login-Form {
    margin: calc((100vh - 500px) / 2) auto;
    width: 90%;
  }
}

@media screen and (max-width: 260px) {
  #p-tag {
    padding: 0 5%;
  }

  .Social-Login {
    width: 90%;
    padding: 5px 10px;
    transition: none;
  }
}

@media screen and (max-width: 220px) {
  #p-tag {
    padding: 0;
  }

  .Social-Login {
    width: 50px;
    transition: none;
  }

  .Social-Login span {
    display: none;
  }
  .Kakao img {
    width: 30px;
  }

  .Kakao span {
    display: none;
  }
}
