@font-face {
  font-family: "omyu_pretty";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.result-not-found {
  width: 100%;
  text-align: center;
  padding: 10vh 0 15vh;
}

.result-not-found p {
  font-family: "omyu_pretty";
  font-size: 24px;
  margin: 10px 0;
}

@media (min-width: 1600px) {
  .result-not-found p {
    font-size: 36px;
  }
}

@media (min-width: 2560px) {
  .result-not-found p {
    font-size: 44px;
  }
}



@media (max-height: 500px) {
  .result-not-found {
    margin-top: calc(100vh - 95vh);
  }
}
