.comment-input-box {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  margin: 40px 0 20px;
  padding: 40px 15px 10px;
  border: 1.5px solid rgb(227, 227, 227);
  background-color: #f7f7f7;
  font-size: 16px;
}

.comment-text-box {
  position: relative;
  width: 100%;

  label {
    height: 0;
  }

  textarea {
    box-sizing: border-box;
    padding: 15px 15px;
    width: 100%;
    resize: none;
    outline: none;
    font-size: 16px;
    background-color: white;
    border: 2px solid rgb(238, 237, 237);
    overflow-y: hidden;

    &:focus + i {
      left: 0;
      right: 0;
    }
  }

  i {
    position: absolute;
    display: block;
    top: calc(100% - 6px);
    left: 50%;
    right: 50%;
    border-bottom: 2px solid #6480fadd;
    transition: all 0.3s;
    padding: 0;
  }
}

.comment-button-box {
  padding-top: 5px;
  display: flex;
  justify-content: right;

  button {
    width: 50px;
    height: 40px;
    background-color: transparent;
    color: #333;
    border-radius: 10px;
    margin-right: 10px;
    font-weight: 600;

    a {
      color: inherit;
    }

    &:hover {
      color: white;
      background-color: rgb(70, 98, 253);
    }
  }
}

