.user-menu {
  --menu-width: 280px; /* 변수 선언 */

  position: absolute;
  z-index: 10;
  top: 0;
  box-sizing: border-box;
  padding: 50px 0 0;
  width: var(--menu-width);
  height: 100%;
  background: rgb(245, 245, 245);
  transform: translateX(calc(-1 * var(--menu-width)));
  box-shadow: 5px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.op {
  transform: translateX(0px);
}

.user-menu-arrow {
  position: absolute;
  top: 14px;
  left: 25px;
  cursor: pointer;
  z-index: 10;
  transform: rotate(0);
  transition: transform 0.3s ease-in-out;
  svg {
    height: 25px;
    color: #333;
  }
}

.a-op {
  transform: rotateY(180deg);
}

.user-icon {
  text-align: center;

  div:nth-of-type(1) {
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }

  div:nth-of-type(2) {
    width: 80%;
    height: 22px;
    margin: 10px auto;
    font-weight: 500;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.user-menu-list {
  margin: 30px 0 24px 0;
}

.user-menu-list li button {
  padding: 16px 24px;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 530;
  cursor: pointer;
  color: #333;

  &:hover {
    color: #f5f5f5;
    background: rgb(58, 116, 239);
  }
}

.user-menu .log-out {
  box-sizing: border-box;
  display: block;
  margin: 20px auto 0;
  padding: 4px 4px;
  text-align: left;
  font-size: 16px;
  height: 50px;
  color: #333;
  cursor: pointer;

  span {
    padding-left: 10px;
    font-weight: bold;
  }

  &:hover {
    color: rgb(58, 116, 239);
  }
}

.user-menu h3 {
  text-align: center;
  margin-bottom: 30px;
}

.line {
  border: 0.5px solid gray;
}

@media (min-width: 1024px) {
  .user-menu {
    display: block;
    transform: translateX(0px);
  }

  .user-menu-arrow {
    display: none;
  }
}
