.user-area {
  background: rgb(250, 250, 250);
  position: relative;
  width: 100%;
  min-height: calc(100vh - 60px);
}

.user-menu-arrow {
  position: absolute;
  top: 10px;
  left: 3%;
  cursor: pointer;

  svg {
    height: 30px;
    color: #333;
  }
}

.user-menu {
  position: absolute;
  z-index: 2;
  top: 0;
  display: none;
  box-sizing: border-box;
  padding: 50px 0 0;
  width: 280px;
  height: 100%;
  background: rgb(245, 245, 245);
  transform: translateX(-280px);
  transition: all 0.3s ease-in-out;
}

.op {
  display: block;
  transform: translateX(0px);
}

.x-mark {
  top: 15px;
  right: 15px;
  position: absolute;
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 24px;
  color: #333;
  border-radius: 50%;

  &:hover {
    background: rgb(58, 116, 239);
    color: #f5f5f5;
  }
}

.user-icon {
  text-align: center;

  div:nth-of-type(1) {
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }

  div:nth-of-type(2) {
    width: 80%;
    height: 22px;
    margin: 10px auto;
    font-weight: 500;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.user-menu-list {
  margin: 30px 0 24px 0;
}

.user-menu-list li {
  font-size: 16px;
  padding: 16px 24px;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    color: #f5f5f5;
    background: rgb(58, 116, 239);
  }
}

.user-menu .log-out {
  box-sizing: border-box;
  margin: 20px 20px 0;
  padding: 4px 4px;
  text-align: left;
  font-size: 16px;
  height: 50px;
  color: #333;
  cursor: pointer;

  span {
    padding-left: 10px;
    font-weight: bold;
  }

  &:hover {
    color: rgb(58, 116, 239);
  }
}

.user-menu h3 {
  text-align: center;
  margin-bottom: 30px;
}

.line {
  border: 0.5px solid gray;
}

.content-view {
  background-color: rgb(248, 248, 248);
  width: clamp(320px, 100%, 655px);
  min-height: calc(100vh - 60px);
  margin: 0 auto;
  padding: 40px 0 20px;
}

#date {
  margin-bottom: 20px;
  background-color: rgb(48, 110, 255);
  border-radius: 0;
  padding: 16px 24px;
  height: 24px;
  line-height: 24px;
  font-weight: bold;
  color: white;
}

#Nonexistent {
  padding-top: 70px;
  text-align: center;
  font-weight: 550;
}

.view-box {
  margin: 0 24px;
  padding: 20px 0;
  width: calc(100% - 48px);
  min-height: 140px;

  &:not(:last-child) {
    border-bottom: 1px solid #c3c3c3; /* 마지막 요소 제외하고 실선 추가 */
  }
}

#top-title {
  text-align: center;
  padding-bottom: 40px;
}

#v-b-1 {
  position: relative;
  height: 36px;

  h3 {
    font-size: 14px;
  }

  button {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 40px;
    height: 40px;
    color: #303030;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
      background: rgb(202, 202, 202);
    }
  }

  button svg {
    width: 24px;
    height: 24px;
    padding: 8px;
  }
}

#v-b-2 {
  display: flex;
}

#v-b-3 {
  padding-right: 10px;
  width: calc(100% - 144px);

  div:nth-child(1) {
    font-size: 16px;
    font-weight: 550;
    min-height: 20px;
  }

  div:nth-child(2) {
    margin-top: 8px;
    font-size: 14px;
    min-height: 20px;

    span:nth-child(1) {
      color: rgb(0, 94, 218);
      cursor: pointer;
    }
  }

  div:nth-child(3) {
    margin-top: 16px;
    font-size: 13px;
  }
}

#v-b-img {
  text-align: left;
  cursor: pointer;
  width: 134px;
  height: 85px;

  img {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1024px) and (max-width: 1250px) {
  .content-view {
    margin-left: 300px;
  }
}

@media (min-width: 656px) {
  #date {
    border-radius: 10px;
  }
}

@media (min-width: 1024px) {
 .user-menu {
    display: block;
    transform: translateX(0px);
    width: 280px;
    transition: none;
  }

  .user-menu-arrow {
    display: none;
  }
}
