.user-page-wrapper {
  position: relative;
  background: rgb(248, 248, 248);
  width: 100%;
  padding-top: 60px;
  height: calc(100vh - 60px);
  overflow-y: hidden;
}

.user-page-container {
  height: 100%;
  overflow-y: scroll;
}

.user-page-container::-webkit-scrollbar {
  width: 6px;
}
.user-page-container::-webkit-scrollbar-thumb {
  background-color: lightgray;
}
.user-page-container::-webkit-scrollbar-track {
  background: rgb(248, 248, 248);
}

@media (max-height: 860px) {
  .user-page-box {
    padding-bottom: 70px;
  }
}

@media (min-width: 1024px) {
  .user-page-wrapper {
    padding-top: 70px;
    height: calc(100vh - 70px);
  }

  .user-page-box {
    position: relative;
    display: flex;
    align-items: flex-start;
  }
}
