.x-mark {
  top: 15px;
  right: 15px;
  position: absolute;
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 24px;
  color: #333;
  border-radius: 50%;

  &:hover {
    background: rgb(58, 116, 239);
    color: #f5f5f5;
  }
}

.content-view {
  position: relative;
  background-color: rgb(248, 248, 248);
  width: clamp(320px, 100%, 655px);
  min-height: calc(100vh - 60px);
  margin: 0 auto;
  padding: 40px 0 20px;
}

#date {
  margin-bottom: 20px;
  background-color: rgb(48, 110, 255);
  border-radius: 0;
  padding: 16px 24px;
  height: 24px;
  line-height: 24px;
  font-weight: bold;
  color: white;
}

#Nonexistent {
  padding: 50px 0;
  text-align: center;
  font-weight: 550;
}

.view-box {
  margin: 0 24px;
  padding: 20px 0;
  width: calc(100% - 48px);
  min-height: 140px;

  &:not(:last-child) {
    border-bottom: 1px solid #c3c3c3; /* 마지막 요소 제외하고 실선 추가 */
  }
}

#top-title {
  text-align: center;
  padding-bottom: 40px;
}

#v-b-1 {
  position: relative;
  height: 36px;

  h3 {
    font-size: 14px;
  }

  button {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 40px;
    height: 40px;
    color: #303030;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
      background: rgb(202, 202, 202);
    }
  }

  button svg {
    width: 24px;
    height: 24px;
    padding: 8px;
  }
}

#v-b-2 {
  display: flex;
}

#v-b-3 {
  padding-right: 10px;
  width: calc(100% - 144px);

  div:nth-child(1) {
    font-size: 14px;
    font-weight: 550;
    min-height: 20px;
  }

  div:nth-child(2) {
    margin-top: 8px;
    font-size: 13px;
    min-height: 20px;
    font-weight: 500;

    span:nth-child(1) {
      color: rgb(0, 94, 218);
      cursor: pointer;
    }
  }

  div:nth-child(3) {
    margin-top: 16px;
    font-size: 13px;
  }
}

#v-b-img {
  text-align: left;
  cursor: pointer;
  width: 134px;
  height: 85px;

  img {
    width: 100%;
    height: 100%;
  }
}

.log-error-text {
  padding-top: 50px;
  text-align: center;
}

@media (min-width: 1024px) and (max-width: 1295px) {
  .content-view {
    margin-left: 320px;
  }
}

@media (min-width: 656px) {
  #date {
    border-radius: 10px;
  }
}
