.Delete-Modal-Background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(16, 16, 16, 0.1);
  z-index: 99;
}

.Delete-Modal {
  box-sizing: border-box;
  position: fixed;
  top: calc(45vh - 50px);
  left: calc(50vw - 102px);
  padding: 10px 20px;
  max-width: 250px;
  min-height: 110px;
  border-radius: 8px;
  background-color: rgb(246, 246, 246);
}

.Delete-Modal p {
  padding: 20px 0 15px;
  font-size: 16px;
}

.Delete-button-box {
  text-align: right;;
}

.Delete-button-box button {
  margin-left: 15px;
  width: 40px;
  height: 30px;
  border: 0;
  border-radius: 5px;
  color: #333;
  font-weight: 500;
}

.Delete-button-box button:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(70, 98, 253);
}
