.Header-box {
  min-width: 320px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 3%;
  box-sizing: border-box;
  height: 60px;
  font-size: 18px;
  font-weight: 700;
  z-index: 14;
  display: flex;
  align-items: center;
  color: #F5F5F5;
  transition: color 0.15s ease-in, background 0.15s ease-in;

  &:hover {
    background: #F5F5F5 !important;
    color: #333 !important;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.12);
  }
}

.h-o {
  position: relative !important;
  background: #F5F5F5 !important;
  color: #333 !important;
}

@media (min-width: 1024px) {
  .Header-box {
    padding: 0 8%;
    font-size: 16px;
    height: 80px;
  }
}

