.Header-top {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Logo {
  display: block;
  line-height: 40px;
  height: 40px;
  color: inherit;

  span {
    font-size: 1.3em;
  }
}

.page-top-interaction {
  display: flex;
  align-items: center;
}

.magnifying {
  width: 35px;
  height: 35px;
  border: 0;
  background-color: transparent;
  z-index: 99;
  color: inherit;
  cursor: pointer;
  outline: none;

  svg {
    font-size: 1.8em;
  }

  &:hover {
    color: orange !important;
  }
}

#nav-bar {
  box-sizing: border-box;
  margin-left: 5px;
  padding: 0 5px;
  border: 0;
  width: 35px;
  height: 35px;
  z-index: 14;
  color: inherit;
  display: block;
  cursor: pointer;

  .bar {
    box-sizing: border-box;
    width: 100%;
    border: 2px solid;
    margin: 4px 0;
    border-color: inherit;
    transition: transform 0.2s linear;
  }

  .ro-t45 {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .fadeout {
    opacity: 0;
  }

  .ro-b45 {
    transform: rotate(-45deg) translate(6px, -6.5px);
  }
}

@media (min-width: 1024px) {
  #nav-bar {
    display: none;
  }

  .magnifying:hover {
    color: inherit !important;
  }
}
