.Header-box {
  box-sizing: border-box;
  padding: 10px 20%;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.12);
  position: relative;
}

.Header-box a {
  display: flex;
  align-items: center;
}

.Header-box img {
  width: 35px;
  margin-right: 5px;
}

@media (max-width: 1024px) {
  .Header-box {
    padding: 10px 5%;
  }
}

@media (max-width: 768px) {
  .Header-box {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 99;
  }
}

@media (max-width: 250px) {
  .Header-box span {
    display: none;
  }
}


