/* start Page style */

.scroll-top-color {
  color: white;
}

.normal-color {
  color: #333;
}

/* 헤더 스타일 */

.Header-box {
  position: fixed;
  top: 0;
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  height: 130px;
  font-size: 18px;
  font-weight: 700;
  z-index: 7;
}

.Header-top {
  display: flex;
  padding: 0 5%;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  color: inherit;
}

.Logo {
  height: 40px;
  display: flex;
  align-items: center;
  color: inherit;
}

.Logo img {
  width: 40px;
  margin-right: 10px;
}

.Logo span {
  font-size: 1.3em;
}

.page-top-interaction {
  display: flex;
  align-items: center;
  justify-content: right;
  position: relative;
}

.magnifying {
  width: 35px;
  height: 35px;
  border: 0;
  background-color: transparent;
}

.magnifying svg {
  font-size: 25px;
}

@media (min-width: 1440px) {
  .Header-top {
    width: 1300px;
    margin: 0 auto;
  }
}

@media (max-width: 1440px) {
  .Header-top {
    padding: 0 5%;
  }
}

@media (max-width: 768px) {
  .Header-box {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 99;
    height: 50px;
    font-size: 14px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
  }
  .Header-top {
    box-sizing: border-box;
    padding-top: 10px;
    height: 100%;
    padding: 0 20px;
  }

  .Logo img{
    width: 30px;
  }

  .page-top-interaction {
    position: absolute;
    right: 5%;
  }
}

@media (max-width: 250px) {
  .Logo span {
    display: none;
  }
}
