.button {
  /* margin-left: 20%; */
  width: 60px;
  height: 30px;
  font-size: 0.8em;
  line-height: 30px;
  background-color: coral;
  border: 0;
  color: white;
  border-radius: 5px;
}

.button:hover {
  cursor: pointer;
}
