.Logo {
  padding-right: 30px;
}

.Logo:hover {
  cursor: pointer;
  color: orange;
}

@media screen and (min-width: 1200px){
  .Logo {
    padding: 0;
  }
}


@media screen and (max-width: 165px) {
  .Logo {
    padding: 0;
  }
}