li {
  list-style: none;
}

a {
  text-decoration: none;
  list-style: none;
}

a:hover {
  cursor: pointer;
}

/* pc */
.pc-nav-bar {
  box-sizing: border-box;;
  width: 100%;
  height: 50px;
  border-top: 0.3px solid rgb(224, 223, 223);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.12);
}

.no-border {
  border: 0;
  box-shadow: none;
}

.Nav-box {
  margin: 0 auto;
  font-size: 0.8em;
  width: 420px;
  height: 100%;
  display: flex;
}

.Nav-box li {
  width: 140px;
  text-align: center;
  line-height: 50px;
  transition: all .1s ease-out;
}

.Nav-box li a {
  font-size: 1.1em;
}

.Nav-box li:hover {
  border-bottom: 3px solid orange;
}

/* 모바일 환경*/
.mobile-Nav-box {
  position: fixed;
  display: none;
  border-top: 0.5px solid black;
}

@media (max-width: 768px) {
  .Nav-box {
    display: none;
  }

  .mobile-Nav-box {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: white;
  }

  .mobile-Nav-box li {
    box-sizing: border-box;
    width: 25%;
    height: 100%;
    padding: 10px;
    font-size: 14px;
  }

  .mobile-Nav-box a {
    height: 100%;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
  }

  .mobile-Nav-box a img {
    margin: 0 0 5px;
    width: 30px;
    height: 25px;
  }
}

@media (max-width: 200px) {
  .mobile-Nav-box li {
    padding: 20px 0;
  }

  .mobile-Nav-box li span {
    display: none;
  }
}
