.submenu {
  margin: 5px 0;
  height: 30px;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
}

.sub-box {
  height: 100%;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.press-like {
  color: rgb(48, 120, 255);
}

.press-dislike {
  color: rgb(48, 120, 255);
}

.sub-box button {
  margin-right: 3px;
  min-width: 25px;
  padding: 0 5px;
  height: 100%;
  border-radius: 50%;
  color: inherit;

  &:hover {
    background-color: rgb(230, 230, 230);
    cursor: pointer;
  }

  svg {
    font-size: 20px;
  }
}


.sub-box span {
  font-size: 14px;
  font-weight: 450;
}