.Cotent-review {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0;
  text-align: center;
  font-size: 16px;
}

.How-to-feel {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 40px;
}

.Cotent-feeling {
  box-sizing: border-box;
  margin: 0 auto;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

.Cotent-feeling div {
  margin: 0 auto;
  width: 90px;
}

.Cotent-feeling div:hover {
  cursor: pointer;
}

.Cotent-feeling div img:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.feeling-count {
  font-size: 1.1em;
  font-weight: 600;
}

.Cotent-feeling p {
  margin-top: 5px;
  font-size: 0.9em;
  font-weight: 500;
  width: 100%;
}

.review-title {
  text-align: left;
  padding: 60px 0 10px 20px;
}



/* @media (max-width: 768px) {
  .Cotent-review {
    padding: 30px 0;
  }

  .user-input-box input {
    width: calc(100% - 40px);
  }

  .Cotent-feeling {
    width: 280px;
  }
}


@media (max-width: 425px) {
  .user-review-area {
    font-size: 14px;
  }
  .Cotent-review {
    font-size: 13px;
  }

  .Cotent-feeling img {
    width: 35px;
  }
} */
