.rolling-box {
  box-sizing: border-box;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  grid-column-end: span 4;
}

.rolling-box-two {
  box-sizing: border-box;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #c2c2c2;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #c2c2c2 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-p {
  margin-top: 10px;
  font-size: 18px;
}

@media (max-width: 1024px) {
  .rolling-box {
    grid-column-end: span 3;
  }
}

@media (max-width: 650px) {
  .rolling-box {
    grid-column-end: span 2;
  }
}


@media (max-width: 425px) {
  .rolling-box {
    grid-column-end: span 1;
  }
}
