.footer-box {
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  padding: 14px 0;
  border-top: 0.5px solid black;
  background-color: white;
  font-size: 16px;
  text-align: center;
  z-index: 3;
}

.footer-box p {
  margin: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 2000px), srceen and (min-heigth: 1680px) {
  .footer-box {
    padding: 13px 0;
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .footer-box {
    margin-bottom: 70px;
  }
}

@media (max-width: 182px) {
  .footer-box {
    display: none;
  }
}