.footer-container {
  box-sizing: border-box;
  padding: 20px 20px 40px;
  width: 100%;
  background: rgb(37, 37, 37);
  background-color: #f7f7f7;
  color: #333333;
  font-size: clamp(14px, 3vw, 16px);
  font-weight: 600;
}

.footer-logo {
  margin: 20px auto 20px;
  width: 100%;
  text-align: center;

  p {
    font-size: 24px;
    color: inherit;
  }
}

.footer-navigation {
  margin-bottom: 20px;
  font-size: 14px;

  nav ul {
    text-align: center;
  }

  nav ul li {
    text-align: center;
    display: inline-block;
    margin: 10px 10px;
    padding: 5px 0;
    text-decoration: none;
    list-style: none;
  }

  nav ul li a {
    color: inherit;
  }
}

.footer-line {
  margin: 0 auto 25px;
  width: 90%;
  max-width: 850px;
  border: 0.5px solid rgb(195, 194, 194);
}

.footer-copyright {
  margin: auto;
  width: 100%;
  max-width: 800px;
  font-size: 14px;
  text-align: center;
}

.copyright-icons {
  margin-top: 15px;

  a {
    display: inline-block;
    margin: 15px 20px;
  }

  a img {
    width: clamp(80px, 10.2564vw, 90px);
  }
}

@media (min-width: 1024px) {
  .footer-line {
    width: 80%;
  }
}

@media (min-width: 780px) {
  .footer-navigation nav ul li {
    margin: 0 15px;
    padding: 0;
  }

  .footer-navigation nav ul li a {
    padding: 0;
    height: 40px;
    display: block;
    line-height: 40px;
  }

  .footer-line {
    margin: 0 auto 15px;
    width: 85%;
  }

  .footer-copyright {
    width: 80%;
    max-width: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .copyright-icons {
    margin: 0;
    display: flex;
    align-items: center;
  }
}
