.policy-nav {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
  height: 60px;
  --background-color--: #1a329a;
  background: var(--background-color--);
  --font-color--: rgb(228, 228, 228);
  font-size: 16px;
}

.policy-nav__list {
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  min-width: 300px;
  width:  87.5vw;
  max-width: 1060px;
  height: 100%;
  color: var(--font-color--);
}

.policy-nav__item {
  display: flex;
  align-items: center;
  height: 100%;
}

.policy-nav__item--home {
  display: flex;
  align-items: center;
}

.policy-nav__home-link span {
  line-height: 200%;
  color: white;
  font-size: 30px;
  font-variation-settings:
    "FILL" 0,
    "wght" 600,
    "GRAD" 100,
    "opsz" 24;
}

.policy-nav__item--home::after {
  content: "";
  width: 5px;
  height: 70%;
  background-color: white;
  margin: 0 10px;
}

.policy-nav__item--dropdown {
  position: relative;
}

.policy-nav__trigger {
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 1.1em;
  font-weight: 600;
}

.policy-nav__title--is-open {
  transform: rotate(180deg);
}

.policy-nav__menu {
  display: none;
  position: absolute;
  top: 60px;
  left: -5px;
  padding: 10px 0;
  background: rgb(0, 0, 211);
}

.policy-nav__menu--is-open {
  display: block;
}

.policy-menu__item {
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background: darkblue;
  }
}

.policy-menu__item-link {
  white-space: nowrap;
  padding: 10px 20px;
  color: inherit;
  display: block;
  width: 115px;
}

.policy-nav__item--action {
  display: none;
}

.policy-nav__action-button {
  height: 40px;
  padding: 0 5px;
}

.policy-nav__action-button span {
  color: white;
  font-size: 25px;
  font-variation-settings:
    "FILL" 0,
    "wght" 500,
    "GRAD" 100,
    "opsz" 24;
}

@media (min-width: 1024px) {
  .policy-nav {
    margin-top: 40px;
    border-radius: 10px;
    height: 70px;
    width: 87.5vw;
  }

  .policy-nav__list {
    width: 96%;
  }

  .policy-nav__menu {
    top: 70px;
  }

  .policy-nav__item--action {
    position: absolute;
    display: flex;
  }

  .policy-nav__item:nth-of-type(3) {
    right: 35px;
  }

  .policy-nav__item:nth-of-type(4) {
    right: 0;
  }
}
