.main-box {
  min-height: calc(100vh - 160px);
  background-color: white;
  z-index: 4;
}

@media (max-width: 768px) {
  .main-box {
    min-height: calc(100vh - 170px);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}
