@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Gamja+Flower&family=Hi+Melody&family=Noto+Sans+KR:wght@500;700&family=Single+Day&family=Sunflower:wght@300&display=swap");

@media (max-width: 1023.9px) {
  .main-box {
    min-height: calc(100vh - 150px);
    padding-top: 50px;
  }
}

@media (max-width: 320px) {
  .app {
    width: 320px;
  }
}
