*,
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
}

body::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background: rgb(222, 221, 221);
  height: 30%;
  border-radius: 2px;
}
