*,
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: #f0f1fa;
}

body::-webkit-scrollbar-thumb {
  background: rgb(205, 205, 205);
  border-radius: 2px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #333;
}

@media (max-width: 320px) {
  body {
    min-width: 100%;
  }
}
