@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");

.account-wrapper {
  position: relative;
  --font-weight: bold;
  --text-black: #333;
  --text-gray: #828282;
  --blue: #3c68fa;
  --white: #f4f4f4;
  --back-color: #f5f5f5;
  --plat-back-color: #f6f8ff;
  --plat-border-color: rgb(211, 211, 211);
  margin: 0 auto;
  width: clamp(320px, 90%, 600px);
  padding: 30px 20px 40px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: var(--font-weight);
  background: transparent;
}

/* 프로필 이미지 */
.account__photo-section {
  width: 100%;
  border-radius: 15px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

.account__photo-description {
  /* padding-top: 10px; */
  text-align: left;
  font-size: 1.2em;
}

.account__photo-description span {
  word-break: keep-all;

  &:nth-of-type(1) {
    font-size: 1.4em;
    line-height: 50px;
  }
}

.account__photo-container {
  position: relative;
  text-align: center;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.account__photo-img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.account__photo-edit-btn {
  position: absolute;
  width: 26px;
  height: 26px;
  padding: 0px;
  bottom: 5px;
  right: -2px;
  color: rgb(32, 33, 33);
  z-index: 1;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--plat-back-color);
}

.account__photo-edit-btn span {
  font-size: 14px;
  font-variation-settings:
    "FILL" 1,
    "wght" 500,
    "GRAD" 200,
    "opsz" 24;
}

/****** 공용 ******/

.account__info-row {
  padding: 15px 18px;
  border-bottom: 1px solid var(--plat-border-color);

  &:nth-of-type(4) {
    border-bottom: unset;
  }
}

.account__info-row--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.account__info-text {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.account__info-text h3 {
  font-size: 0.9em;
  color: var(--text-gray);
}

.account__info-text span {
  overflow-wrap: break-word;
  font-size: 1em;
  color: var(--text-black);
}

.account__btn {
  display: inline-block;
  padding: 0px 10px;
  box-sizing: unset;
  border-radius: 18px;
  border: 1px solid black;
  font-size: 0.85em;
  width: 55px;
  height: 30px;
  color: var(--text-black);
  font-weight: var(--font-weight);
  line-height: 30px;
  text-align: center;
}

.account__btn:not(.no-hover):hover {
  cursor: pointer;
  background-color: var(--blue);
  color: var(--white);
  border: unset;
}

/********* 디테일(닉네임, 이메일, 가입 날짜) *********/
.account__info-section {
  border-radius: 15px;
  background-color: var(--plat-back-color);
  border: 1px solid var(--plat-border-color);
}

.nickname-box {
  width: calc(100% - 95px);
}

.sign-up-date {
  border-bottom: none;
}

/********* 소셜 플랫폼 *********/
.account__platform-section {
  padding: 40px 0 30px;
}

.account__platform-desc {
  font-size: 0.8em;
  padding: 5px 0 20px;
}

.account__platform-list {
  border: 1px solid rgb(211, 211, 211);
  background-color: var(--plat-back-color);
  border-radius: 18px;
  overflow: hidden;
}

.account__platform-icon {
  display: flex;
  align-items: center;
  column-gap: 10px;

  img {
    height: 100%;
    border-radius: 50%;
  }
}

.plat-check {
  background-color: var(--blue);
  color: var(--white);
  border-color: transparent;
}

.account__platform-summary {
  font-size: 0.8em;
  padding: 7px 5px 0;
  color: var(--blue);
}

.delete-account-section {
  padding: 5px;
}

.delete-account button {
  color: red;
  padding: 5px;
  cursor: pointer;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .account {
    width: calc(100% - 380px);
  }

  .account-wrapper {
    padding: 40px 0px;
  }

  .profile-header {
    padding: 20px 0;
    text-align: left;
  }

  .profile-header h2 {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }

  .profile-header h2 span {
    font-size: 24px;
    padding-bottom: 10px;
  }

  .profile-header p {
    text-align: left;
  }

  .account__photo-section {
    position: unset;
    width: auto;
    padding-bottom: 30px;
  }
}
