a {
  text-decoration: none;
  color: #333;
}

.Ui-Box {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px 20px;
  width: 100%;
  z-index: 5;
}

.option-container {
  height: auto;
  padding-bottom: 20px;
}


#before-icon {
  top: 12.5px;
  left: 20px;
}

@media (min-width: 500px) {
  .option-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }

  .picker {
    margin: 15px 0;
  }
}

@media (min-width: 670px) {
  .option-container {
    display: flex;
  }
  .picker {
    margin-right: 20px;
    max-width: 220px;
    margin: 15px 0;
  }
}

@media (min-width: 1200px) {
  .Ui-Box {
    width: 1200px;
  }
}

