.picker-month {
  left: 40px;
  width: 205px;
  position: relative;
}

.picker-month-h {
  position: absolute;
  top: 0px;
  left: 20px;
  color: rgb(62, 62, 244);
  font-size: 16px;
}

.picker-month select {
  width: 250px;
  padding: 10px 0 10px 180px;
  font-weight: 600;
  border-radius: 8px;
}

.picker-month select:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .picker-month {
    left: 0;
    width: 100%;
  }

  .picker-month select {
    width: 100%;
    padding: 10px 0 10px calc(100vw - 120px);
  }
}

@media (max-width: 310px) {
  .picker-month-h {
    display: none;
  }

  .picker-month select {
    padding: 10px;
  }
}
