.picker-month {
  position: relative;
  left: 0px;
  width: 205px;
  margin-right: calc(100vw - 700px);
}

.picker-month-name {
  position: absolute;
  top: -10px;
  left: 15px;
  width: 100px;
  color: rgb(62, 62, 244);
  font-size: 14px;
  font-weight: bold;
  background: white;
  text-align: center;
  line-height: 20px;
}

.picker-region-name {
  position: absolute;
  top: -10px;
  left: 15px;
  width: 110px;
  color: rgb(62, 62, 244);
  font-size: 14px;
  font-weight: bold;
  background: white;
  text-align: center;
  line-height: 20px;
}

.picker-month select {
  width: 250px;
  padding: 10px 15px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px;
  background-color: transparent;
}

.picker-month select:hover {
  cursor: pointer;
}

.picker-month svg {
  position: absolute;
  top: 10px;
  right: -35px;
  font-size: 20px;
  color: rgb(85, 236, 85);
}

@media (min-width: 1500px) {
  .picker-month {
    margin-right: calc(50vw - 350px);
  }
}

@media (max-width: 768px) {
  .picker-month {
    left: 0;
    width: 100%;
  }

  .picker-month select {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    height: 49px;
  }

  .picker-month svg {
    top: 13px;
    right: 15px;
    font-size: 25px;
  }
}

@media (max-width: 195px) {
  .picker-month-name span {
    display: none;
  }

  .picker-region-name span {
    display: none;
  }

  .picker-month svg {
    display: none;
  }
}
