.OnGoing-Selector {
  width: auto;
  height: 30px;
  display: flex;
  justify-content: right;
  margin-top: 15px;
}

.OnGoing-Selector li {
  margin: 0 5px;
  width: 60px;
  font-size: 0.95em;
  font-weight: 600;
  line-height: 30px;
  border-radius: 5px;
}

.OnGoing-Selector li:hover {
  cursor: pointer;
  color: #0080ff;
}

.null1 {
  color: #333;
}

.OnGoing-active {
  color: #7a45e5;
}

@media (min-width: 768px) and (max-width: 1500px) {
  .OnGoing-Selector {
    margin-right: 30px;
  }
}