.search-box {
  width: 30%;
}

.search-box input {
  box-sizing: border-box;
  width: 70%;
  height: 30px;
  padding: 5px 8px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 14px;
}

.search-box input:hover {
  cursor: pointer;
}

.search-box button {
  width: 15%;
  height: 31px;
  border: 1px solid black;
  border-radius: 4px;
  color: black;
  background-color: white;
}

.search-box button:hover {
  cursor: pointer;
}
