.season-selector-box {
  width: 300px;
  margin-right: calc(100vw - 770px);
  line-height: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.season-selector-box li {
  margin-right: 20px;
  padding: 0 4px;
  width: 45px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
  background-color: white;
  font-size: 18px;
  font-weight: 600;
}

.season-selector-box a {
  display: block;
  height: 38px;
  line-height: 38px;
}

.season-selector-box li:hover {
  cursor: pointer;
}

.season-selector-box a.active {
  color: green;
}

/* selector */

.mobile-picker-season {
  height: 40px;
  display: none;
  position: relative;
}

.mobile-picker-season select {
  width: 100%;
  padding: 10px 0 10px calc(100% - 50px);
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  color: green;
}

.mobile-picker-season select:hover {
  cursor: pointer;
}

.mobile-picker-seaon-h {
  position: absolute;
  top: 1px;
  left: 20px;
  color: rgb(62, 62, 244);
}

@media (max-width: 768px) {
  .season-selector-box {
    display: none;
  }

  .mobile-picker-season {
    display: flex;
  }
}

@media (max-width: 230px) {
  .mobile-picker-season select {
    padding: 10px 10px;
  }

  .mobile-picker-seaon-h {
    display: none;
  }
}

