.picker {
  position: relative;
  left: 0px;
  width: 220px;
  margin: 0 10px;
}

.picker select {
  width: 220px;
  padding: 10px 0 10px 55px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 8px;
  background-color: transparent;
}

.picker select:hover {
  cursor: pointer;
}

.picker svg {
  position: absolute;
  top: 10px;
  right: 8px;
  width: 20px;
  height: 20px;
  color: rgb(11, 201, 11);
}

#before-icon {
  color: #333;
  top: 9px;
  left: 20px;
}

@media (max-width: 768px) {

  .picker {
    width: 100%;
  }

}

