.Ui-Box {
  box-sizing: border-box;
  padding: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 40px;
  z-index: 5;
  background-color: white;
}

@media (max-width: 768px) {
  .Ui-Box {
    display: block;
    position: fixed;
    top: 60px;
    padding: 5px 30px;
  }
}

