a {
  text-decoration: none;
  color: #333;
}

.Ui-Box {
  position: relative;
  box-sizing: border-box;
  padding: 30px 0 0;
  width: 100%;
  z-index: 5;
  background-color: #f0f1fa;
  text-align: center;
}

/* Submenu.tsx */
.subnav {
  width: 75%;
  margin: 20px auto 40px;
}
.submenu {
  display: flex;
  justify-content: left;
  align-items: center;
}

/* Selector  */
#picker-box {
  height: auto;
  display: flex;
  justify-content: center;
}

.picker {
  position: relative;
  left: 0px;
  width: 220px;
  margin: 0 10px;
}

.picker select {
  width: 220px;
  padding: 10px 0 10px 55px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 8px;
  background-color: transparent;
}

.picker select:hover {
  cursor: pointer;
}

.picker svg {
  position: absolute;
  top: 10px;
  right: 8px;
  width: 20px;
  height: 20px;
  color: rgb(11, 201, 11);
}

#before-icon {
  color: #333;
  top: 9px;
  left: 20px;
}

/**/

@media (min-width: 1500px) {
  .Ui-Box {
    width: 1500px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .Ui-Box {
    top: 20px;
    padding: 10px 20px 5px;
  }

  #picker-box {
    flex-direction: column;
  }

  .picker {
    margin: 10px auto;
    width: 95%;
  }
  .picker select {
    width: 100%;
  }

  
}
